APP_NAME=OmniHub API
APP_ENV=development
APP_DEBUG=true
APP_HOST=0.0.0.0
APP_PORT=8000

DB_HOST=SEU_ENDPOINT_AWS
DB_PORT=5432
DB_NAME=omnihub_core
DB_USER=omnihub_app_runtime
DB_PASSWORD=SUA_SENHA_RUNTIME
DB_SSLMODE=require

JWT_SECRET_KEY=troque_esta_chave_por_uma_bem_forte
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60